//Typography
$main_font: 'Montserrat', sans-serif;


//Colours
$green: #4CBBB3;
$pink: #F53756;
$yellow: #FEF460;
$purple: #752F97;
$black: #000000;
$white: #FFFFFF;


//Media queries sizes
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;