@use 'base/variables' as v;

.header {
    background-color: v.$green;

    h1 {
        color: v.$white;
    }
}

.main-navigation {
    a {
        color: v.$white;
        font-size: 2.4rem;

        &:hover {
            color: v.$yellow;
        }
    }
}